<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="./tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Test Suite">
            <directory suffix=".php">./tests</directory>
            <exclude>./tests/TestBase.php</exclude>
            <exclude>./tests/SmsMtsTest.php</exclude>
        </testsuite>
    </testsuites>
</phpunit>